html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
  }

.background {
    margin-top: 0px;
    width: 100%;
    height: auto;
    background: rgb(255, 255, 255);
    position: absolute;
    display: flex;
    flex-direction: column; /* Устанавливаем направление столбца для flex-контейнера */
    align-items: center;
  }
  
.header {
    width: 1120px;
    height: 160px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
}
.slider {
    max-width: 1120px;
    height: max-content;
    background: rgb(255, 255, 255);
}
.right_side_header {
    width: 870px;
    height: 160px;
    display: flex;
    flex-direction: column;
}
.line {
    width: 1120px;
    height: 1px;
    background-color: #009245;
}
.numbers {
    width: 558px;
    height: 102px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFF;
    justify-content: center;
    gap: 40px;
    flex-shrink: 0;
    /* background-color: bisque; */
}
.number {
    width: 209;
    height: 45;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #009245;
    color: #FFF;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.social {
    width: 100%;
    height: 102;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 20px;
    /* background-color: aquamarine; */
}
.upper_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    
}
.email a:hover{
    color: forestgreen;
    text-decoration: underline;
}
.email {
    padding-bottom: 4px;
}
.email a{
    color: #009245;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    /* text-decoration: none; */
}
.navigation {
    width: 870px;
    height: 58px;
    display: flex;
    justify-content: flex-end;
    color: #009245;
    /* background-color: chartreuse; */
}
#nav div a{
    width: 217px;
    height: 58px;
    text-decoration: none;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.1s;

}
#nav div:hover {
    background-color: #009245;
    color: #ffffff;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: background-color 0.3s, color 0.1s;
}
.menu div:hover a {
    color: rgb(255, 255, 255); /* Цвет текста при наведении */
}
.slider {
    width: 100%;
    /* background-color: rgb(199, 247, 188); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    list-style-type: none;
    height: auto;
    aspect-ratio: 16 / 9;
    padding: 0px;
    margin: 0px;
}
.slider_frame {
    height: 540px;
    width: 962px;
    border-radius: 15px;
}
.head {
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.text {
    width: 983px;
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 40px;
}
.head_up {
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.pallet_price {
    display: flex;
    width: auto;
    align-items: flex-start;
    align-content: flex-start;
    gap: 45px 80px;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: center;
}
.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.price_card {
    width: 320px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
.price_card img {
    padding-bottom: 10px;
}
.card_discription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
    color: rgba(0, 0, 0, 0.70);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.card_title {
    text-align: center;
    color: rgba(0, 0, 0, 0.70);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
}
.card_title {
    padding-bottom: 3px;
}
.discription_right {
    text-align: end;
}
.discription_left {
    text-align:start
}
.discription_left div,.discription_right div {
    margin-bottom: 8px;
}
.discription_right div:nth-child(2) {
    margin-bottom: 4px;
}
.green_price {
    display: inline-block;
    height: 29px;
    background-color: #3AAA35;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.green_price a {
    color: #FFF;
    text-align: right;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 5px;
    margin-right: 5px;
}
.horizon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
    gap: 30px;
}
.adv_text {
    color: #000;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.why {
    margin-bottom: 25px;
}
.wood_price_card {
    width: 320px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding-top: 5px;
}
.wood_price_card img {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 20px;
}
#cont {
    line-height: 2.2;
}
.map iframe {
    width: 1120px;
    height: 628px;
    border-radius: 10px;
    border: 1px solid #008e1a;
    margin-bottom: 50px;
}
.map img {
    width: 20px;
    height: 20px;
}
.footer {
    height: 160px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer_frame {
    height: 160px;
    width: 1120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.footer_left {
    height: 112px;
    width: 380px;
}
.footer_right {
    height: 112px;
    width: 380px;
    text-align: end;
}
.footer_title {
    color:#009245;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 145.187%;
    margin-bottom: 5px;
}
.footer_text {
    color:#009245;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 145.187%;
}
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 4;
}
#slides {
    position: relative;
    list-style-type: none;
    height: 100%;
    aspect-ratio: 16 / 9;
    padding: 0px;
    margin: 0px;
}
.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.showing {
    opacity: 1;
    z-index: 2;
    border-radius: 15px;
}
.slider img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
}
.slider_frame {
    position: absolute;
    height: auto;
}
  
.slider-dots {
    text-align: center;
    position: relative;
    bottom: 10px; /* Отступ снизу */
    left: 0;
    right: 0;
    z-index: 3;
    top: 35%;
}
  
.dot {
    height: 10px;
    width: 10px;
    background-color: #b0b0b07d; /* Цвет неактивных точек */
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px; /* Расстояние между точками */
    border: 2px solid #e3e3e3;
}
  
.dot.active {
    background-color: #01b6559f; /* Зеленый цвет активной точки */
}

@media screen and (max-width: 1150px){
    .logo {
        width: 500px;
        height: 320px;
    }
    .upper_header,
    .header{
        height: max-content;
        width: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .social {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .right_side_header {
        height: auto;
    }
    .line {
        width: 80%;
    }
    .slider_frame {
        width: 80%;
        height: auto;
    }
    .text {
        width: 80%;
    }
    .footer_logo {
        display: none;
    }
    .footer_frame {
        gap: 0;
    }
    .map {
        width: 80%;
    }
    .map iframe {
        width: 100%;
    }

}
@media screen and (max-width: 870px){
    .navigation {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .social {
        margin-bottom: 20px;
    }
    .text {
        width: 100%;
    }
    #advantages {
        width: 70%;
    }
    .footer_right {
        width: auto;
    }
    .contacts {
        width: 80%;
    }
    .header {
        width: 80%;
    }
    .slider {
        width: 80%;
    }
    .block {
        width: 80%;
    }
    .footer {
        width: 80%;
    }
    .right_side_header {
        width: 80%;
        align-items: center;
    }
    .navigation {
        width: 80%;
    }

}
@media screen and (max-width: 600px){
    .logo {
        width: 250px;
        height: 160px;
    }
    .numbers {
        flex-direction: column;
        row-gap: 10px;
        margin-bottom: 20px;
    }
    .social {
        margin-bottom: 20px;
    }
    /* .footer_frame {
        flex-direction: column;
    } */
    .footer {
        height: max-content;
    }
    .footer_left {
        width: auto;
    }
    .footer_frame {
        gap: 10px;
    }
}